header{
    background-color:antiquewhite;
}
nav{
    text-align: right;
}
nav ul{
    list-style: none;
} 
nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
}


nav li a:hover{
    background: blanchedalmond;
}

nav li{
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}
#project{
    text-align: center;
}
p{
    font-size: large;
}
