body{
    background-image: url("https://bit.ly/2Sky4YZ");
    background-repeat: no-repeat;
    background-size: cover;  
    opacity: 0.8;
   
}
header{
    background-color:antiquewhite;
}
nav{
    text-align: right;
}
nav ul{
    list-style: none;
} 
nav li{
    list-style: none;
}


nav a{
    text-decoration: none;
}


nav li a:hover{
    background: blanchedalmond;
}

nav li{
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
}
#project{
    text-align: center;
    padding-left: 100px;
}
p{
    font-size: x-large;
}
#project a{
    color:blue;
    font-size: x-large;
}